.app-wrapper {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-gap: 15px;
	grid-template-areas: 'header header'
						 'sidebar content';
}

.content {
	grid-area: content;
	border-radius: 5px;
    overflow: hidden;
    background-color: rgb(219, 244, 255);
}